.gradle/
build/
local.properties
.idea/
*.iml
captures/
.cxx/
.externalNativeBuild/
.kotlin/
__pycache__/
data/ogawa/pages/
data/ogawa/glyphs/
data/ogawa/debug/
data/ogawa/*.jpg
moji.zip
data/guanzhong/
